.venv/
venv/
env/
bin/
lib/
share/
pycache/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/
seg_train/
seg_test/
seg_pred/
intel-image-classification/
dataset/
data/
archive.zip
*.zip
*.pth
*.pt
predictions.csv
.vscode/
.idea/
.DS_Store